.reservation__form{
  max-width: 385px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 32px;
}

.reservation__form_fieldset{
  gap: 32px;
}

.reservation__form_fieldset_item{
  gap: 8px;
}

.reservation__form_label{
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.reservation__form_input{
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  width: 100%;
  height: 60px;
  border-radius: 4px;
  padding: 15px 20px;
  box-sizing:border-box;
}

.reservation__form_button{
  width: 100%;
  height: 60px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  background-color: #2f80ed;
  color: white;
  justify-content: center;
  }

.reservation__form_button:hover{
  opacity: 70%;
}

.reservation__form_checkbox{
  width: 20px;
  height: 20px;
  border-radius: 2px;
}

.reservation__form_checkbox:checked::after {
  color: #2F80ED;
  content: url(/web_project_coffeeshop/images/check.svg);
}

.reservation__form_aceptar{
  display: flex;
  flex-direction: row;
  gap: 7px;
  width: auto;
  align-self: center;
}

