.page{
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  background-color: #FFFFFF;
  background-image: url("/web_project_coffeeshop/images/background_header.svg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 0 80px;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.nav__logo {
  position: relative;
  width: 105px;
  height: 39px;
  margin: 0;
  left: -30px;
}

.nav__links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  column-gap: 20px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header__title{
  padding-top: 183px;
  max-width: 709px;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: 1px;
  margin: 0;
}

.header__span-acent{
  display: block;
}

.header__span-acent_noto-serif{
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2F80ED;
}

.header__description{
  position: relative;
  max-width: 650px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 30px;
  z-index: 3;
}

.header__image{
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}

.header__footer{
  margin-top: auto;
  left: 80px;
  bottom: 40px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  align-items: end;
}

.header__paragraph{
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin: 0;
}

.recipes{
  margin: 0;
  padding: 0;
  background-color: #0a2750;
  background-image: url("/web_project_coffeeshop/images/background_recipes.svg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  }

.recipes__title{
  padding-top: 100px;
  padding-left: 80px;
  max-width: 500px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle{
  padding-top: 24px;
  padding-left: 80px;
  max-width: 438px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos{
  padding-top: 80px;
  width: 480px;
  height: 273px;
  justify-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  padding-bottom: 215px;
}

.recipes__video-item{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.recipes__iframe{
  border: none;
}

.recipes__video-caption{
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 30px;
  text-align: justify;
}

.reservation{
  margin: 0;
  padding: 0;
  background-color: #D9E7FF;
  background-image: url("/web_project_coffeeshop/images/background_reservation.svg");
  background-size:  cover;
  background-repeat: no-repeat;
  color: #000;
  justify-items: center;
}

.reservation__title{
  margin: 0;
  padding-top: 100px;
  padding-bottom: 80px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form{
  max-width: 385px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.reservation__form_fieldset{
  gap: 32px;
}

.reservation__form_fieldset_item{
  gap: 8px;
}

.reservation__form_label{
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.reservation__form_input{
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  width: 100%;
  height: 60px;
  border-radius: 4px;
  padding: 15px 20px;
  box-sizing:border-box;
}

.reservation__form_button{
  width: 100%;
  height: 60px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  background-color: #2f80ed;
  color: white;
  justify-content: center;
  }

.reservation__form_button:hover{
  opacity: 70%;
}

.reservation__form_margin-top{
  margin-top: 32px;
}

.reservation__form_checkbox{
  width: 20px;
  height: 20px;
  border-radius: 2px;
}

.reservation__form_checkbox:checked::after {
  color: #2F80ED;
  content: url(/web_project_coffeeshop/images/check.svg);
}

.reservation__form_label-checkbox{
  padding-top: 32px;
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-self: center;
}

